<div>
<h4>{{workflow}}</h4>
<table class="table discussion-list">
    <thead>
        <tr>
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Request</a>
            </th>
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Type</a>
            </th>
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Student</a>
            </th>
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Individual/Batch</a>
            </th>
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Status</a>
            </th>
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Time Created</a>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#requests}}
            <tr>
                <th scope="row" class="topic p-0 align-middle">
                    <div class="p-3 p-l-0">
                        <a class="w-100 h-100 d-block" href="{{url}}{{id}}&cmid={{cmid}}" title="Request 1" aria-label="Request 1">
                           {{request}}
                        </a>
                    </div>
                </th>
                <td class="p-0 align-middle fit-content">
                    {{type}}
                </td>
                <td class="p-0 align-middle fit-content">
                    Student {{studentid}}
                </td>
                <td class="p-0 align-middle fit-content">
                    {{#isbatchrequest}}
                        Batch
                    {{/isbatchrequest}}
                    {{^isbatchrequest}}
                        Individual
                    {{/isbatchrequest}}
                </td>
                <td class="p-0 align-middle fit-content">
                    {{status}}
                </td>
                <td class="p-0 align-middle fit-content">
                    {{timecreated}}
                </td>
            </tr>
        {{/requests}}
    </tbody>
</table>
</div>
