<div>
<h4>{{workflow}} - {{activity}}</h4>
<p>{{description}}</p>
{{#requests}}
<table class="table discussion-list">
    <thead>
        <tr>
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Request</a>
            </th>
            {{#general}}
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Activity</a>
            </th>
            {{/general}}
            {{#activityrelated}}
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Type</a>
            </th>
            {{/activityrelated}}
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Individual/Batch</a>
            </th>
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Status</a>
            </th>
            <th scope="col" class="p-l-0">
                <a href="" aria-label="">Time Created</a>
            </th>
            <th scope="col" class="p-l-0">
              <a href="" aria-label="">Instructor Feedback</a>
            </th>
            <th scope="col" class="p-l-0">
              <a href="" aria-label="">Lecturer Feedback</a>
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th scope="row" class="topic p-0 align-middle">
                    <div class="p-3 p-l-0">
                        {{request}}
                    </div>
                </th>
                {{#general}}
                <td class="p-0 align-middle fit-content">
                    {{activity}}
                </td>
                {{/general}}
                {{#activityrelated}}
                <td class="p-0 align-middle fit-content">
                    {{type}}
                </td>
                {{/activityrelated}}
                <td class="p-0 align-middle fit-content">
                    {{#isbatchrequest}}
                        Batch
                    {{/isbatchrequest}}
                    {{^isbatchrequest}}
                        Individual
                    {{/isbatchrequest}}
                </td>
                <td class="p-0 align-middle fit-content">
                    {{status}}
                </td>
                <td class="p-0 align-middle fit-content">
                    {{timecreated}}
                </td>
                <td class="p-0 align-middle fit-content">
                  {{instructorcomment}}
              </td>
              <td class="p-0 align-middle fit-content">
                  {{lecturercomment}}
              </td>
            </tr>
    </tbody>
</table>
{{/requests}}
{{^requests}}
<p>No requests yet.</p>
{{/requests}}
</div>
